body{
    background-color:black;
    min-height:100vh ;
    padding: 0%;
    margin: 0%;
}
span{
    background-image: url("https://cdn0.iconfinder.com/data/icons/small-n-flat/24/678087-heart-512.png");
    width: 100px;
    height: 100px;
    position: absolute;
    background-size: cover;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    pointer-events: none;
    animation: animate 5s linear;
}
.heart
{
    background-image: url("https://cdn0.iconfinder.com/data/icons/small-n-flat/24/678087-heart-512.png");
}

.star 
{
    background-image: url("https://cdn1.iconfinder.com/data/icons/love-wedding-vol-2/512/fireworks_firework_celebrate_holiday-1024.png");
    width: 100px;
    height: 100px;
    
}

@keyframes animate{
    0%{
        transform: translate(-50%,-50%);
        opacity: 1;
        filter: hue-rotate(0);
    }
    100%{
        transform: translate(-50%,-5000%);
        opacity: -50%;
        filter: hue-rotate(720deg);
    }
}